.catalog-category-mobile
    .catalog-category-mobile__items
        a(href="#").catalog-category-mobile__item Бары и барные стулья
        a(href="#").catalog-category-mobile__item Зеркала
        a(href="#").catalog-category-mobile__item Камины
        a(href="#").catalog-category-mobile__item Часы
        a(href="#").catalog-category-mobile__item Двухместные диваны
        a(href="#").catalog-category-mobile__item Тумбочки
        a(href="#").catalog-category-mobile__item Кровати
        a(href="#").catalog-category-mobile__item Стулья
        a(href="#").catalog-category-mobile__item Трёхместные диваны
        a(href="#").catalog-category-mobile__item Столы
