@use '@/styles/mixins' as *;

.catalog-category-mobile {
  @include button;

  display: none;
  margin: 0 -40px;

  @include tablet {
    display: block;
  }

  @include mobile {
    margin: 0 -20px;
  }

  &__items {
    display: flex;
    gap: 0 10px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 0 40px;

    @include mobile {
      padding: 0 20px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__item {
    white-space: nowrap;
    padding: 6px 20px;
    border: 1px solid #DFDFDF;
  }
}