.catalog-category
    .catalog-category__items
        a(href="#").catalog-category__item Бары и барные стулья
        a(href="#").catalog-category__item Зеркала
        a(href="#").catalog-category__item Камины
        a(href="#").catalog-category__item Часы
        a(href="#").catalog-category__item Двухместные диваны
        a(href="#").catalog-category__item Тумбочки
        a(href="#").catalog-category__item Кровати
        a(href="#").catalog-category__item Стулья
        a(href="#").catalog-category__item Трёхместные диваны
        a(href="#").catalog-category__item Столы
