@use '@/styles/mixins' as *;

.search-mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 5;
  overflow: auto;
  transform: translateY(100%);

  &__header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    gap: 0 10px;
    padding: 20px;
    background-color: #fff;
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #6F6F6F;
    background: #F8F8F8;
    flex-grow: 1;
  }

  &__input {
    @include button;

    padding: 14.5px;
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    padding: 9.5px;

    svg {
      width: 21px;
      height: 21px;
    }
  }

  &__results {
    padding: 0 20px 20px;
  }

  &__results-title {
    @include button;
  }

  &__results-items {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    margin-top: 16px;
  }

  &__results-item {
    display: flex;
    padding: 10px;
    border: 1px solid #DFDFDF;
  }

  &__results-item-image {
    width: 70px;
    height: 70px;

    img {
      object-fit: cover;
    }
  }

  &__results-item-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 10px 0;
  }

  &__results-item-title {
    @include button;
  }

  &__results-item-price {
    @include h5;

    display: flex;
    align-items: center;
  }

  &__results-item-currency {
    @include h7;

    margin-left: 10px;
  }

  &__more {
    @include button;

    display: flex;
    color: #6F6F6F;
    margin-top: 16px;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  &.open {
    transform: translateY(0);
  }
}

