.search-mobile
    .search-mobile__header
        label.search-mobile__input-wrapper
            input.search-mobile__input(type="text" placeholder="Введите запрос")
            button.search-mobile__icon(aria-label="Поиск")
                svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(
                        d="M14.5 14.5L11.1221 11.1221M11.1221 11.1221C11.6999 10.5444 12.1583 9.85841 12.471 9.10349C12.7837 8.34856 12.9446 7.53944 12.9446 6.72231C12.9446 5.90519 12.7837 5.09606 12.471 4.34114C12.1583 3.58621 11.6999 2.90027 11.1221 2.32247C10.5444 1.74468 9.85841 1.28635 9.10349 0.973645C8.34856 0.660945 7.53944 0.5 6.72231 0.5C5.90519 0.5 5.09606 0.660945 4.34114 0.973645C3.58621 1.28635 2.90027 1.74468 2.32247 2.32247C1.15556 3.48938 0.5 5.07205 0.5 6.72231C0.5 8.37257 1.15556 9.95524 2.32247 11.1221C3.48938 12.2891 5.07205 12.9446 6.72231 12.9446C8.37257 12.9446 9.95524 12.2891 11.1221 11.1221Z"
                        stroke="black"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    )
        button.search-mobile__close#search-tabbar-close
            svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M5 27L16 16M27 5L16 16M16 16L5 5L27 27" stroke="black" stroke-linecap="round" stroke-linejoin="round")


    .search-mobile__results
        h2.search-mobile__results-title Товары:

        .search-mobile__results-items
            each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                a.search-mobile__results-item(href="#")
                    .search-mobile__results-item-image
                        img(src="./images/slider-1.png" alt="Название предмета мебели")
                    .search-mobile__results-item-info
                        h3.search-mobile__results-item-title Название предмета мебели
                        .search-mobile__results-item-price 55 537
                            span.search-mobile__results-item-currency руб.

        a.search-mobile__more(href="#") Смотреть все
