.search-mobile
    .search-mobile__header
        label.search-mobile__input-wrapper
            input.search-mobile__input(type="text" placeholder="Введите запрос")
            button.search-mobile__icon(aria-label="Поиск")
                img(src='./icons/search.svg')
        button.search-mobile__close#search-tabbar-close
            img(src='./icons/cross.svg')


    .search-mobile__results
        h2.search-mobile__results-title Товары:

        .search-mobile__results-items
            each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
                a.search-mobile__results-item(href="#")
                    .search-mobile__results-item-image
                        img(src="./images/slider-1.png" alt="Название предмета мебели")
                    .search-mobile__results-item-info
                        h3.search-mobile__results-item-title Название предмета мебели
                        .search-mobile__results-item-price 55 537
                            span.search-mobile__results-item-currency руб.

        a.search-mobile__more(href="#") Смотреть все
