.catalog-list
    include ../category/category

    .catalog-list__items
        +productCard({
            image: 'https://static.vecteezy.com/system/resources/thumbnails/048/719/069/small/wooden-chair-on-transparent-background-free-png.png',
            name: 'Название предмета',
            price: '111111',
            priceOld: '222222',
            available: 'В наличии',
            sale: 'Скидка 20%'
        })
        +productCard({
            image: 'https://static.vecteezy.com/system/resources/thumbnails/048/719/069/small/wooden-chair-on-transparent-background-free-png.png',
            name: 'Название предмета',
            price: '111111',
            priceOld: '222222',
            available: 'В наличии',
            sale: 'Скидка 20%'
        })
        +productCard({
            image: 'https://static.vecteezy.com/system/resources/thumbnails/048/719/069/small/wooden-chair-on-transparent-background-free-png.png',
            name: 'Название предмета',
            price: '111111',
            priceOld: '222222',
            available: 'В наличии',
            sale: 'Скидка 20%'
        })
        +productCard({
            image: 'https://static.vecteezy.com/system/resources/thumbnails/048/719/069/small/wooden-chair-on-transparent-background-free-png.png',
            name: 'Название предмета',
            price: '111111',
            priceOld: '222222',
            available: 'В наличии',
            sale: 'Скидка 20%'
        })
        +productCard({
            image: 'https://static.vecteezy.com/system/resources/thumbnails/048/719/069/small/wooden-chair-on-transparent-background-free-png.png',
            name: 'Название предмета',
            price: '111111',
            priceOld: '222222',
            available: 'В наличии',
            sale: 'Скидка 20%'
        })
        +productCard({
            image: 'https://static.vecteezy.com/system/resources/thumbnails/048/719/069/small/wooden-chair-on-transparent-background-free-png.png',
            name: 'Название предмета',
            price: '111111',
            priceOld: '222222',
            available: 'В наличии',
            sale: 'Скидка 20%'
        })