.seo-text
    h2.seo-text__title Интернет-магазин
        br
        | Американской мебели
    .seo-text__text Интернет-магазин «Grand Manor», предлагает вниманию покупателей купить элитную премиум мебель из цельного дерева (массива). На сегодняшний день для наших клиентов доступны многие мебельные бренды из Америки. Наша компания, которая находится в Москве, может доставить любой американский мебельный бренд, поэтому продукция в каталоге обновляется.