.tabbar
    .tabbar__actions
        button.tabbar__action#search-tabbar-open
            img(src="./icons/search-mobile.svg")
        button.tabbar__action
            img(src="./icons/favorite-mobile.svg")
        button.tabbar__action
            img(src="./icons/cart-mobile.svg")
        button.tabbar__action
            img(src="./icons/person-mobile.svg")