.brands
    .brands__row
        h2.brands__title Наши бренды
    .brands__logos
        .brands__row
            .brands__logos-wrap
                a(href="#").brands__logo
                    img(src="./images/brand.png" alt="Logo")
                a(href="#").brands__logo
                    img(src="./images/brand.png" alt="Logo")
                a(href="#").brands__logo
                    img(src="./images/brand.png" alt="Logo")
                a(href="#").brands__logo
                    img(src="./images/brand.png" alt="Logo")
                a(href="#").brands__logo
                    img(src="./images/brand.png" alt="Logo")
                a(href="#").brands__logo
                    img(src="./images/brand.png" alt="Logo")