// Импортируем стили Swiper
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

@use '../../src/components/header/header' as *;
@use '../../src/components/footer/footer' as *;
@use '../../src/components/search/search' as *;
@use '../../src/components/button/button' as *;
@use '../../src/components/slider/slider' as *;

body {
  @include lato(400);

  margin: 0;
  padding: 0;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  all: unset;
  line-height: 0;
  cursor: pointer;
}