// Импортируем стили Swiper
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

@use '../../src/components/header/header' as *;
@use '../../src/components/header-mobile/header-mobile' as *;
@use '../../src/components/footer/footer' as *;
@use '../../src/components/search/search' as *;
@use '../../src/components/search-mobile/search-mobile' as *;
@use '../../src/components/button/button' as *;
@use '../../src/components/slider/slider' as *;
@use '../../src/components/main-category/main-category' as *;
@use '../../src/components/main-catalog/main-catalog' as *;
@use '../../src/components/promotion/promotion' as *;
@use '../../src/components/brands/brands' as *;
@use '../../src/components/seo-text/seo-text' as *;
@use '../../src/components/tabbar/tabbar' as *;

body {
  @include lato(400);

  margin: 0;
  padding: 0;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s ease;

  &:hover {
    color: #6F6F6F;
  }
}

img {
  width: 100%;
  height: 100%;
}

button {
  all: unset;
  line-height: 0;
  cursor: pointer;
}

.main-page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 150px 0;

  @include tablet {
    gap: 80px 0;
  }

  @include mobile {
    margin-bottom: 60px;
  }
}

input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}