@use '@/styles/mixins' as *;

.main-catalog {
  @include container;

  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;

  @include tablet {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  &__item {
    @include h2;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include tablet {
      @include h5;

      aspect-ratio: 1 / 1;
    }

    @include mobile {
      @include h6;
    }

    &:nth-child(2),
    &:nth-child(3) {
      grid-column: span 2;

      @include tablet {
        grid-column: auto;
      }
    }
  }

  &__item-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-title {
    color: #fff;
  }
}