.main-catalog
    each i in [1, 2, 3, 4]
        a(href='#').main-catalog__item
            .main-catalog__item-bg
                img(src="./images/category.png")
            .main-catalog__item-title Спальня
