.main-catalog
    .main-catalog__item
        .main-catalog__item-bg
            img(src="./images/category.png")
        .main-catalog__item-title Спальня
    .main-catalog__item
        .main-catalog__item-bg
            img(src="./images/category.png")
        .main-catalog__item-title Спальня
    .main-catalog__item
        .main-catalog__item-bg
            img(src="./images/category.png")
        .main-catalog__item-title Спальня
    .main-catalog__item
        .main-catalog__item-bg
            img(src="./images/category.png")
        .main-catalog__item-title Спальня
