.product

  //- =============================================
  //- Герой: хлебные крошки + карточка товара
  //- =============================================
  .product__hero
    .product__hero-inner

      +breadcrumbs([
        {text: 'Главная', href: '#'},
        {text: 'Каталог', href: '#'},
        {text: 'Гостиная', href: '#'},
        {text: 'Столики', href: '#'}
      ])

      .product__brand
        img.product__brand-logo(src="./images/brand.png" alt="Hooker Furniture")

      .product__card
        //- --- Галерея фотографий ---
        .product__gallery
          .product__gallery-stage
            .swiper.product__swiper
              .swiper-wrapper
                each n in [1, 2, 3, 4, 5]
                  .swiper-slide
                    img.product__gallery-img(src="./images/slider-1.png" alt="Фото товара")

            .product__gallery-overlay
              .product__tags
                .product__tag.product__tag--sale Скидка 20%
                .product__tag.product__tag--available В наличии
              button.product__favorite(type="button" aria-label="В избранное")
                svg(width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg")
                  path(d="M5.19242 16.2261L13.3153 23.8567C13.6397 24.1614 13.8019 24.3138 14 24.3138C14.198 24.3138 14.3602 24.1614 14.6846 23.8567L22.8075 16.2261C25.0897 14.0822 25.3669 10.5542 23.4474 8.08025L23.0865 7.61507C20.7903 4.65552 16.1812 5.15185 14.5677 8.53243C14.3398 9.00996 13.6601 9.00996 13.4322 8.53243C11.8187 5.15185 7.20964 4.65551 4.91343 7.61507L4.55251 8.08025C2.63307 10.5542 2.91021 14.0822 5.19242 16.2261Z" stroke="#8D8D8D" stroke-width="2")

            .product__gallery-controls
              .swiper-button-prev.product__gallery-prev(aria-label="Предыдущее фото")
              .swiper-button-next.product__gallery-next(aria-label="Следующее фото")

          .swiper-pagination.product__pagination

        //- --- Информация о товаре ---
        .product__info
          h1.product__title Название небольшого Кофейного столика Lucia из восьми слов
          .product__buy-row
            .product__buy-inline-price
              .product__price-new
                span.product__price-amount 55 537
                span.product__price-unit  руб.
              .product__price-old
                del.product__price-old-amount 110 568
                span.product__price-old-unit  руб.
            +button('В корзину', { variant: 'primary' }).product__to-cart-mobile

          .product__price-box
            .product__price-top
              .product__price
                .product__price-new
                  span.product__price-amount 55 537
                  span.product__price-unit  руб.
                .product__price-old
                  del.product__price-old-amount 110 568
                  span.product__price-old-unit  руб.


            .product__buy-form
              p.product__buy-heading Купить в один клик
              .product__buy-field
                label.product__buy-label(for="buy-name") Имя
                +input({ type: 'text', id: 'buy-name', name: 'name', autocomplete: 'given-name', invalid: true }).product__buy-input
              .product__buy-field
                label.product__buy-label(for="buy-phone") Телефон
                +input({ type: 'tel', id: 'buy-phone', name: 'phone', autocomplete: 'tel' }).product__buy-input
              +button('Купить', { variant: 'secondary' }).product__buy-submit
              label.product__buy-agree
                .product__buy-checkbox
                  input#buy-agree(type="checkbox")
                  .product__buy-checkbox-box(for="buy-agree")
                p.product__buy-agree-text
                  | Нажимая на кнопку "Купить", я принимаю&nbsp;
                  a.product__buy-agree-link(href="#") условия политики конфиденциальности и обработки персональных данных.

          .product__info-body
            .product__details
              .product__sizes
                button.product__size.is-active(type="button") Размер 1
                button.product__size(type="button") Размер 2

              dl.product__specs
                .product__specs-row
                  dt.product__specs-term Артикул
                  dd.product__specs-desc 123456
                .product__specs-row
                  dt.product__specs-term Коллекция
                  dd.product__specs-desc
                    a.product__specs-link(href="#") Summer
                .product__specs-row
                  dt.product__specs-term Производитель
                  dd.product__specs-desc
                    a.product__specs-link(href="#") Hooker
                .product__specs-row
                  dt.product__specs-term Габариты (см)
                  dd.product__specs-desc
                    | 90*90*90
                    img.product__specs-tip(src="./icons/question.svg" title="хуй" alt="Подробнее о размерах")
                .product__specs-row
                  dt.product__specs-term Вес (кг)
                  dd.product__specs-desc 100
                .product__specs-row
                  dt.product__specs-term
                    | Объем (м
                    sup 3
                    | )
                  dd.product__specs-desc 2
                .product__specs-row
                  dt.product__specs-term Страна бренда
                  dd.product__specs-desc США

              +button('В корзину', { variant: 'primary' }).product__to-cart

        .product__description
          p.product__description-text Описание товара, состоящее из нескольких кратких, но ёмких предложений, помогающих потенциальному клиенту как можно лучше ознакомиться с предметом, дабы закрыть возможные вопросы и убрать сомнения, возникающие при выборе.
          .product__brand
            img.product__brand-logo(src="./images/brand.png" alt="Hooker Furniture")
  //- =============================================
  //- Секция: Также из коллекции
  //- =============================================
  .product__collection
    .product__collection-inner
      .product__section-head
        h2.product__section-title Также из коллекции "Summer"
        .product__section-nav
          button.product__col-prev(type="button" aria-label="Предыдущий")
            svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M24 12L16 20L24 28" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
          button.product__col-next(type="button" aria-label="Следующий")
            svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M16 12L24 20L16 28" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")

      .swiper.product__col-swiper
        .swiper-wrapper
          each n in [1, 2, 3, 4, 5, 6]
            .swiper-slide
              +productCard({
                image: './images/category.png',
                name: 'Название предмета',
                price: '55537',
                priceOld: '110568'
              })

  //- =============================================
  //- Секция: Смотрите также
  //- =============================================
  .product__related
    .product__related-inner
      h2.product__related-title Смотрите также (258)
      .product__related-grid
        each n in [1, 2, 3, 4, 5, 6, 7, 8]
          +productCard({
            image: './images/category.png',
            name: 'Название предмета',
            price: '55537',
            priceOld: '110568',
            sale: 'Скидка 20%',
            available: 'В наличии'
          })
      .product__related-more
        span.product__related-count 8 из 258
        +button('Показать ещё', { variant: 'primary' }).product__show-more

  //- =============================================
  //- SEO-текст
  //- =============================================
  include ../seo-text/seo-text
