header.header-mobile
    .header-mobile__wrapper
        button.header-mobile__menu-button
            span.header-mobile__menu-button-line
        a.header-mobile__logo(href="#")
            img(src="./images/logo.png" alt="Logo")
        a.header-mobile__phone(href="tel:8-800-775-38-18")
            img(src='./icons/phone.svg')
    nav.header-mobile__menu
        .header-mobile__menu-categories
            each i in [1, 2, 3, 4, 5, 6, 7]
                .header-mobile__menu-category
                    .header-mobile__menu-category-wrapper
                        a.header-mobile__menu-category-link(href="#") Спальня
                        button.header-mobile__menu-category-button
                            img(src='./icons/chevron.svg')
                    ul.header-mobile__menu-subcategory
                      each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                        li.header-mobile__menu-subcategory-item
                            a(href="#") Кровати
        .header-mobile__actions
            a.header-mobile__action(href="#") О нас
            a.header-mobile__action(href="#") Покупателям
            a.header-mobile__action(href="#") Контакты
            a.header-mobile__action(href="#") Салоны

        .header-mobile__footer
            +button('Заказать звонок', {variant: 'secondary'}).header-mobile__callback-btn
