header.header-mobile
    .header-mobile__wrapper
        button.header-mobile__menu-button
            span.header-mobile__menu-button-line
        a.header-mobile__logo(href="#")
            img(src="./images/logo.png" alt="Logo")
        a.header-mobile__phone(href="tel:8-800-775-38-18")
            svg(width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M6.486 0.5C6.72613 0.500003 6.96189 0.564268 7.16881 0.686124C7.37573 0.80798 7.54627 0.982989 7.66274 1.19299L9.30842 4.15737C9.41453 4.34859 9.47244 4.56279 9.47713 4.78143C9.48182 5.00007 9.43315 5.21656 9.33533 5.41216L7.7502 8.58376C7.7502 8.58376 8.20973 10.946 10.1326 12.8695C12.0562 14.7924 14.4103 15.2445 14.4103 15.2445L17.5812 13.6587C17.7769 13.5608 17.9935 13.5121 18.2123 13.5168C18.4311 13.5214 18.6454 13.5794 18.8367 13.6856L21.8105 15.3394C22.02 15.4561 22.1946 15.6266 22.316 15.8334C22.4375 16.0402 22.5015 16.2756 22.5015 16.5155V19.9286C22.5015 21.6671 20.8867 22.9226 19.2397 22.3669C15.8568 21.2251 10.6056 19.0519 7.27722 15.7236C3.94952 12.3952 1.77569 7.14463 0.634608 3.76109C0.0788701 2.11473 1.33433 0.5 3.07286 0.5H6.486Z" stroke="black" stroke-linejoin="round")

    nav.header-mobile__menu
        .header-mobile__menu-categories
            each i in [1, 2, 3, 4, 5, 6, 7]
                .header-mobile__menu-category
                    .header-mobile__menu-category-wrapper
                        a.header-mobile__menu-category-link(href="#") Спальня
                        button.header-mobile__menu-category-button
                            svg(width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg")
                                g(clip-path="url(#clip0_1322_984)")
                                    path(d="M1 1L8 8L15 1" stroke="#6F6F6F")
                                defs
                                    clipPath(id="clip0_1322_984")
                                        rect(width="16" height="9" fill="white")
                    ul.header-mobile__menu-subcategory
                      each i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
                        li.header-mobile__menu-subcategory-item
                            a(href="#") Кровати
        .header-mobile__actions
            a.header-mobile__action(href="#") О нас
            a.header-mobile__action(href="#") Покупателям
            a.header-mobile__action(href="#") Контакты
            a.header-mobile__action(href="#") Салоны

        .header-mobile__footer
            +button('Заказать звонок', {variant: 'secondary'}).header-mobile__callback-btn
