@use '@/styles/mixins' as *;

.main-category {
  $this: &;

  @include container;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 21px;

  @include mobile {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px 0;

    @include mobile {
      flex-direction: row;
      gap: 10px;
    }

    &:nth-child(odd) {
      #{$this}__item-title {
        @include mobile {
          order: 1;
        }
      }
    }
  }

  &__item-title {
    @include h3;

    padding: 27px 20px;
    border: 1px solid #000;
    text-align: center;

    @include tablet {
      @include h5;

      padding: 19px;
    }

    @include mobile {
      @include h5;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }

  &__item-img {
    height: 400px;

    @include tablet {
      height: auto;
      aspect-ratio: 1.1 / 1;
    }

    @include mobile {
      height: 100px;
      width: 100px;
      flex-shrink: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}