.main-category
    each item in [1, 2, 3]
        a(href='#').main-category__item
            .main-category__item-title
                | Свадебные
            .main-category__item-img
                img(src="./images/slider-1.png")