.main-category
    .main-category__item
        .main-category__item-title
            | Свадебные
        .main-category__item-img
            img(src="./images/slider-1.png")
    .main-category__item
        .main-category__item-title
            | Свадебные
        .main-category__item-img
            img(src="./images/slider-1.png")
    .main-category__item
        .main-category__item-title
            | Свадебные
        .main-category__item-img
            img(src="./images/slider-1.png")
