@use '@/styles/mixins' as *;

.checkbox {
  $this: &;

  @include button;

  position: relative;
  display: flex;
  align-items: center;
  gap: 0 10px;
  cursor: pointer;

  &__input {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    
    &:checked + #{$this}__marker {
      background: #000;
    }
  }

  &__marker {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
  }

  &.is-invalid &__marker {
    border-color: #E53535;
  }

  &__text {
    user-select: none;
  }

  &__count {
    color: #8D8D8D;
    margin-left: auto;
  }
}

