footer.footer
    .footer__container
        a(href="").footer__logo 
            img(src="./images/logo.png" alt="Logo")
        .footer__content
            .footer__column
                h3.footer__title Контакты
                
                .footer__contacts
                    a(href="tel:88007753818").footer__phone 8 (800) 775-38-18 - Колл-центр
                    a(href="tel:84951820105").footer__phone 8 (495) 182-01-05 - ЦДиИ Экспострой
                    a(href="tel:84951820006").footer__phone 8 (495) 182-00-06  - МТК Гранд
                    a(href="tel:84951822722").footer__phone 8 (495) 182-27-22 - ТК Три Кита

                .footer__additional-contacts
                    a(href="mailto:info@grandmanor.ru").footer__email info@grandmanor.ru

                    .footer__social
                        a(href="#" aria-label="Telegram")
                            img(src='./icons/telegram.svg')
                        a(href="#" aria-label="VKontakte")
                            img(src='./icons/vkontakte.svg')

                        a(href="#" aria-label="WhatsApp")
                            img(src='./icons/whatsapp.svg')

            .footer__column
                h3.footer__title Каталог
                
                nav.footer__nav
                    a(href="#") СПАЛЬНЯ
                    a(href="#") СТОЛОВАЯ
                    a(href="#") ГОСТИНАЯ
                    a(href="#") ДОМАШНИЙ ОФИС
                    a(href="#") ОСВЕЩЕНИЕ И ДЕКОР
                    a(href="#") КОЛЛЕКЦИИ
                    a(href="#") БРЕНДЫ

            .footer__column
                h3.footer__title Информация
                
                nav.footer__nav
                    a(href="#") О НАС
                    a(href="#") НАШИ САЛОНЫ
                    a(href="#") МЕБЕЛЬ В НАЛИЧИИ

            .footer__additional-contacts.footer__additional-contacts--mobile
                a(href="mailto:info@grandmanor.ru").footer__email info@grandmanor.ru

                .footer__social
                    a(href="#" aria-label="Telegram")
                        img(src='./icons/telegram.svg')
                    a(href="#" aria-label="VKontakte")
                        img(src='./icons/vkontakte.svg')
                    a(href="#" aria-label="WhatsApp")
                        img(src='./icons/whatsapp.svg')

        .footer__bottom
            a(href="#").footer__privacy Политика конфиденциальности и обработки персональных данных.
            p.footer__copyright 2025 © grandmanor.ru - Интернет магазин американской мебели. Все права защищены.

    include ../search-mobile/search-mobile
