footer.footer
    .footer__container
        a(href="").footer__logo 
            img(src="/images/logo.png" alt="Logo")
        .footer__content
            .footer__column
                h3.footer__title Контакты
                
                .footer__contacts
                    a(href="tel:88007753818").footer__phone 8 (800) 775-38-18 - Колл-центр
                    a(href="tel:84951820105").footer__phone 8 (495) 182-01-05 - ЦДиИ Экспострой
                    a(href="tel:84951820006").footer__phone 8 (495) 182-00-06  - МТК Гранд
                    a(href="tel:84951822722").footer__phone 8 (495) 182-27-22 - ТК Три Кита

                .footer__additional-contacts
                    a(href="mailto:info@grandmanor.ru").footer__email info@grandmanor.ru

                    .footer__social
                        a(href="#" aria-label="Telegram")
                            svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M22.4104 0.14611C22.7178 0.0167374 23.0542 -0.0278823 23.3847 0.0168944C23.7152 0.0616711 24.0276 0.194208 24.2895 0.400709C24.5514 0.60721 24.7531 0.880127 24.8737 1.19105C24.9943 1.50198 25.0294 1.83955 24.9753 2.16862L22.1542 19.2804C21.8805 20.931 20.0695 21.8775 18.5557 21.0553C17.2895 20.3675 15.4088 19.3077 13.7171 18.2019C12.8713 17.6484 10.2803 15.8759 10.5988 14.6147C10.8724 13.5362 15.2259 9.48374 17.7136 7.07439C18.6901 6.12782 18.2448 5.58176 17.0917 6.45246C14.2283 8.61429 9.63104 11.9018 8.11105 12.8272C6.77017 13.6432 6.07112 13.7825 5.23525 13.6432C3.71028 13.3895 2.29602 12.9964 1.14172 12.5175C-0.418075 11.8707 -0.3422 9.72629 1.14048 9.10188L22.4104 0.14611Z" fill="#8D8D8D")
                        a(href="#" aria-label="VKontakte")
                            svg(width="35" height="21" viewBox="0 0 35 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(
                                    d="M33.34 20.6341H29.5367C28.0983 20.6341 27.665 19.4691 25.0867 16.8891C22.8333 14.7174 21.8817 14.4474 21.3117 14.4474C20.5233 14.4474 20.3083 14.6641 20.3083 15.7491V19.1691C20.3083 20.0941 20.0083 20.6358 17.5917 20.6358C15.2472 20.4783 12.9736 19.766 10.9583 18.5577C8.94296 17.3494 7.24354 15.6795 6 13.6858C3.04836 10.0101 0.994014 5.69717 0 1.0891C0 0.519097 0.216667 0.00243047 1.30333 0.00243047H5.10333C6.08 0.00243047 6.43167 0.437431 6.815 1.44243C8.66 6.87243 11.8083 11.5958 13.0867 11.5958C13.5767 11.5958 13.79 11.3791 13.79 10.1574V4.5641C13.6283 2.01243 12.2733 1.79743 12.2733 0.874098C12.2905 0.630499 12.4019 0.403178 12.584 0.240419C12.766 0.0776601 13.0043 -0.0077142 13.2483 0.00243047H19.2217C20.0383 0.00243047 20.3083 0.409097 20.3083 1.38576V8.93576C20.3083 9.75076 20.6583 10.0208 20.905 10.0208C21.395 10.0208 21.7717 9.75076 22.67 8.8541C24.5948 6.50519 26.1679 3.88895 27.34 1.08743C27.4594 0.750704 27.6859 0.462417 27.9849 0.266745C28.2838 0.0710739 28.6386 -0.0211882 28.995 0.00409702H32.7967C33.9367 0.00409702 34.1783 0.574098 33.9367 1.38743C32.5536 4.48459 30.8427 7.4247 28.8333 10.1574C28.4233 10.7824 28.26 11.1074 28.8333 11.8408C29.21 12.4108 30.5433 13.5241 31.4383 14.5824C32.7417 15.8824 33.8233 17.3858 34.6417 19.0324C34.9683 20.0924 34.425 20.6341 33.34 20.6341Z"
                                    fill="#8D8D8D"
                                )

                        a(href="#" aria-label="WhatsApp")
                            svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M22.4104 0.14611C22.7178 0.0167374 23.0542 -0.0278823 23.3847 0.0168944C23.7152 0.0616711 24.0276 0.194208 24.2895 0.400709C24.5514 0.60721 24.7531 0.880127 24.8737 1.19105C24.9943 1.50198 25.0294 1.83955 24.9753 2.16862L22.1542 19.2804C21.8805 20.931 20.0695 21.8775 18.5557 21.0553C17.2895 20.3675 15.4088 19.3077 13.7171 18.2019C12.8713 17.6484 10.2803 15.8759 10.5988 14.6147C10.8724 13.5362 15.2259 9.48374 17.7136 7.07439C18.6901 6.12782 18.2448 5.58176 17.0917 6.45246C14.2283 8.61429 9.63104 11.9018 8.11105 12.8272C6.77017 13.6432 6.07112 13.7825 5.23525 13.6432C3.71028 13.3895 2.29602 12.9964 1.14172 12.5175C-0.418075 11.8707 -0.3422 9.72629 1.14048 9.10188L22.4104 0.14611Z" fill="#8D8D8D")

            .footer__column
                h3.footer__title Каталог
                
                nav.footer__nav
                    a(href="#") СПАЛЬНЯ
                    a(href="#") СТОЛОВАЯ
                    a(href="#") ГОСТИНАЯ
                    a(href="#") ДОМАШНИЙ ОФИС
                    a(href="#") ОСВЕЩЕНИЕ И ДЕКОР
                    a(href="#") КОЛЛЕКЦИИ
                    a(href="#") БРЕНДЫ

            .footer__column
                h3.footer__title Информация
                
                nav.footer__nav
                    a(href="#") О НАС
                    a(href="#") НАШИ САЛОНЫ
                    a(href="#") МЕБЕЛЬ В НАЛИЧИИ

            .footer__additional-contacts.footer__additional-contacts--mobile
                a(href="mailto:info@grandmanor.ru").footer__email info@grandmanor.ru

                .footer__social
                    a(href="#" aria-label="Telegram")
                        svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M22.4104 0.14611C22.7178 0.0167374 23.0542 -0.0278823 23.3847 0.0168944C23.7152 0.0616711 24.0276 0.194208 24.2895 0.400709C24.5514 0.60721 24.7531 0.880127 24.8737 1.19105C24.9943 1.50198 25.0294 1.83955 24.9753 2.16862L22.1542 19.2804C21.8805 20.931 20.0695 21.8775 18.5557 21.0553C17.2895 20.3675 15.4088 19.3077 13.7171 18.2019C12.8713 17.6484 10.2803 15.8759 10.5988 14.6147C10.8724 13.5362 15.2259 9.48374 17.7136 7.07439C18.6901 6.12782 18.2448 5.58176 17.0917 6.45246C14.2283 8.61429 9.63104 11.9018 8.11105 12.8272C6.77017 13.6432 6.07112 13.7825 5.23525 13.6432C3.71028 13.3895 2.29602 12.9964 1.14172 12.5175C-0.418075 11.8707 -0.3422 9.72629 1.14048 9.10188L22.4104 0.14611Z" fill="#8D8D8D")
                    a(href="#" aria-label="VKontakte")
                        svg(width="35" height="21" viewBox="0 0 35 21" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(
                                d="M33.34 20.6341H29.5367C28.0983 20.6341 27.665 19.4691 25.0867 16.8891C22.8333 14.7174 21.8817 14.4474 21.3117 14.4474C20.5233 14.4474 20.3083 14.6641 20.3083 15.7491V19.1691C20.3083 20.0941 20.0083 20.6358 17.5917 20.6358C15.2472 20.4783 12.9736 19.766 10.9583 18.5577C8.94296 17.3494 7.24354 15.6795 6 13.6858C3.04836 10.0101 0.994014 5.69717 0 1.0891C0 0.519097 0.216667 0.00243047 1.30333 0.00243047H5.10333C6.08 0.00243047 6.43167 0.437431 6.815 1.44243C8.66 6.87243 11.8083 11.5958 13.0867 11.5958C13.5767 11.5958 13.79 11.3791 13.79 10.1574V4.5641C13.6283 2.01243 12.2733 1.79743 12.2733 0.874098C12.2905 0.630499 12.4019 0.403178 12.584 0.240419C12.766 0.0776601 13.0043 -0.0077142 13.2483 0.00243047H19.2217C20.0383 0.00243047 20.3083 0.409097 20.3083 1.38576V8.93576C20.3083 9.75076 20.6583 10.0208 20.905 10.0208C21.395 10.0208 21.7717 9.75076 22.67 8.8541C24.5948 6.50519 26.1679 3.88895 27.34 1.08743C27.4594 0.750704 27.6859 0.462417 27.9849 0.266745C28.2838 0.0710739 28.6386 -0.0211882 28.995 0.00409702H32.7967C33.9367 0.00409702 34.1783 0.574098 33.9367 1.38743C32.5536 4.48459 30.8427 7.4247 28.8333 10.1574C28.4233 10.7824 28.26 11.1074 28.8333 11.8408C29.21 12.4108 30.5433 13.5241 31.4383 14.5824C32.7417 15.8824 33.8233 17.3858 34.6417 19.0324C34.9683 20.0924 34.425 20.6341 33.34 20.6341Z"
                                fill="#8D8D8D"
                            )

                    a(href="#" aria-label="WhatsApp")
                        svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M22.4104 0.14611C22.7178 0.0167374 23.0542 -0.0278823 23.3847 0.0168944C23.7152 0.0616711 24.0276 0.194208 24.2895 0.400709C24.5514 0.60721 24.7531 0.880127 24.8737 1.19105C24.9943 1.50198 25.0294 1.83955 24.9753 2.16862L22.1542 19.2804C21.8805 20.931 20.0695 21.8775 18.5557 21.0553C17.2895 20.3675 15.4088 19.3077 13.7171 18.2019C12.8713 17.6484 10.2803 15.8759 10.5988 14.6147C10.8724 13.5362 15.2259 9.48374 17.7136 7.07439C18.6901 6.12782 18.2448 5.58176 17.0917 6.45246C14.2283 8.61429 9.63104 11.9018 8.11105 12.8272C6.77017 13.6432 6.07112 13.7825 5.23525 13.6432C3.71028 13.3895 2.29602 12.9964 1.14172 12.5175C-0.418075 11.8707 -0.3422 9.72629 1.14048 9.10188L22.4104 0.14611Z" fill="#8D8D8D")


        .footer__bottom
            a(href="#").footer__privacy Политика конфиденциальности и обработки персональных данных.
            p.footer__copyright 2025 © grandmanor.ru - Интернет магазин американской мебели. Все права защищены.

    include ../search-mobile/search-mobile
