@use '@/styles/mixins' as *;

.footer {
  padding-top: 60px;

  @include mobile {
    padding-top: 0;
  }

  &__container {
    @include container;
  }

  &__logo {
    display: inline-flex;
    margin-bottom: 62px;

    @include mobile {
      margin-bottom: 40px;
    }

    img {
      @include mobile {
        height: 45px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 60px;
    padding-bottom: 42px;

    @include tablet {
      grid-template-columns: repeat(2, auto);
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: 40px;
      padding-bottom: 20px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include h3;

    margin: 0 0 24px 0;
    color: #000;

    @include mobile {
      margin: 0 0 20px 0;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mobile {
      gap: 15px;
    }
  }

  &__phone {
    @include t1;

    color: #000;
    transition: color 0.3s ease;

    @include mobile {
      @include button;
    }

    &:hover {
      color: #6F6F6F;
    }
  }

  &__email {
    @include t2;

    display: inline-flex;
    color: #000;
    margin-bottom: 40px;
    transition: color 0.3s ease;

    &:hover {
      color: #6F6F6F;
    }
  }

  &__social {
    display: flex;
    gap: 16px;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s ease;
      height: 40px;
      width: 40px;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
      @include menu-1;
      color: #000;
      transition: color 0.3s ease;

      &:hover {
        color: #6F6F6F;
      }
    }
  }

  &__bottom {
    padding: 20px 0;
    text-align: center;
  }

  &__privacy {
    @include button;

    color: #6F6F6F;
    display: block;
    margin-bottom: 20px;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color 0.3s ease;

    @include mobile {
      @include t3;

      max-width: 240px;
      margin: 0 auto 20px;
      text-underline-offset: 1px;
    }

    &:hover {
      color: #000;
    }
  }

  &__copyright {
    @include button;

    color: #6F6F6F;
    margin: 0;

    @include mobile {
      @include t3;

      max-width: 270px;
      margin: 0 auto;
    }
  }

  &__additional-contacts {
    margin-top: 40px;

    @include tablet {
      display: none;
    }

    &--mobile {
      margin-top: 0;
      display: none;

      @include tablet {
        display: block;
        grid-column: span 2;
      }

      @include mobile {
        display: block;
        grid-column: auto;
      }
    }
  }
}

