@use '@/styles/mixins' as *;

.search {
  position: relative;
  width: 100%;


  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #000;
    padding: 7px;
    height: 40px;
  }

  &__input {
    @include button;
    width: 100%;

    border: none;
    outline: none;
    background: transparent;
    color: #000;

    &::placeholder {
      color: #8B8B8B;
    }

    &:focus {
      outline: none;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #000;
    transition: color 0.3s ease;
    margin-right: 8px;
  }

  &__dropdown {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    display: none;
    z-index: 100;
    width: 382px;

    .search__input:focus ~ &,
    &:hover {
      display: block;
    }
  }

  &__wrapper:focus-within + &__dropdown,
  &__dropdown:hover {
    display: block;
  }

  &__results {
    display: flex;
    flex-direction: column;
    gap: 16px 0;
  }

  &__results-title {
    @include t2;
  }

  &__item {
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 1px solid #E5E5E5;
    transition: border-color 0.3s ease;
    cursor: pointer;

    &:hover {
      border-color: #8B7355;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-image {
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-color: #F5F5F5;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item-info {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__item-name {
    @include button;
    margin: 0;
    color: #000;
  }

  &__item-price {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
  }

  &__price-value {
    @include h5;
    color: #000;
  }

  &__price-currency {
    @include h7;
  }

  &__view-all {
    @include t3;
    color: #6F6F6F;
    text-decoration: underline;
    text-underline-offset: 4px;
    display: block;
    transition: color 0.3s ease;

    &:hover {
      color: #000;
    }
  }
}

