.search
    label.search__wrapper
        .search__icon(aria-label="Поиск")
           img(src="./icons/search.svg")
        input.search__input(type="text" placeholder="Поиск")
    .search__dropdown
        .search__results
            h3.search__results-title Товары:
            
            a(href="#").search__item
                .search__item-image
                    img(src="./images/furniture-1.jpg" alt="Название предмета мебели")
                .search__item-info
                    h4.search__item-name Название предмета мебели
                    .search__item-price
                        span.search__price-value 55 537
                        span.search__price-currency руб.
            
            a(href="#").search__item
                .search__item-image
                    img(src="./images/furniture-2.jpg" alt="Название предмета мебели")
                .search__item-info
                    h4.search__item-name Название предмета мебели
                    .search__item-price
                        span.search__price-value 55 537
                        span.search__price-currency руб.
            
            a(href="#").search__item
                .search__item-image
                    img(src="./images/furniture-3.jpg" alt="Название предмета мебели")
                .search__item-info
                    h4.search__item-name Название предмета мебели
                    .search__item-price
                        span.search__price-value 55 537
                        span.search__price-currency руб.
        
            a.search__view-all(href="#") Смотреть все

