@use '@/styles/mixins' as *;

.promotion {
  @include container;

  display: flex;
  height: 460px;
  gap: 20px;

  @include tablet {
    height: auto;
  }

  @include mobile {
    flex-direction: column;
    height: auto;
  }

  &__cover {
    position: absolute;
    inset: 0;
    background: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__play-button {
    position: absolute;
    z-index: 2;
    background: rgba(255,255,255,0.8);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border: none;
    cursor: pointer;
  }

  &__video {
    width: 100%;
    position: relative;

    @include tablet {
      aspect-ratio: 16/9;
      //max-height: 250px;
    }

    @include mobile {
      height: 185px;
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border: 1px solid #000;
    max-width: 406px;
    width: 100%;
    text-align: center;

    @include tablet {
      justify-content: flex-start;
      max-width: 334px;
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__title {
    @include h2;

    @include tablet {
      @include h5;
    }

    br {
      @include tablet {
        display: none;
      }
    }
  }

  &__subtitle {
    @include t1;

    margin-top: 24px;

    @include tablet {
      @include button;

      margin-top: 10px;
    }
  }

  &__button {
    margin-top: 80px;
    width: 100%;

    @include tablet {
      margin-top: 40px;
    }
  }
}