.filter-mobile
    button.filter-mobile__button
        img(src="./icons/filter.svg" alt="filter")
    .filter-mobile__items
        +collapse("Цена", true).filter-mobile__item
            .filter-mobile__item-content
                .filter-mobile__prices
                    .filter-mobile__price
                        | От:
                        +input({
                            type: 'number',
                            name: 'lowPrice',
                            placeholder: '11 111'
                        })
                    .filter-mobile__price
                        | До:
                        +input({
                            type: 'number',
                            name: 'lowPrice',
                            placeholder: '11 111'
                        })

        .filter-mobile__item
            .filter-mobile__checkboxes
                +checkbox('В наличии', 22)
                +checkbox('Под заказ', 22)
                +checkbox('Скоро в продаже', 22)

        +collapse("Бренд", true).filter-mobile__item
            .filter-mobile__item-content
                .filter-mobile__checkboxes
                    +checkbox('Michael Amini', 22)
                    +checkbox('Ashley Home Store', 22)
                    +checkbox('Grand Manor', 22)
                    +checkbox('Hooker Furniture', 22)
                    +checkbox('Coaster Fine Furniture', 22)
                    +checkbox('Emerald Home', 22)

        +collapse("Стиль", false).filter-mobile__item
            .filter-mobile__item-content
                .filter-mobile__checkboxes
                    +checkbox('Michael Amini', 22)
                    +checkbox('Ashley Home Store', 22)
                    +checkbox('Grand Manor', 22)
                    +checkbox('Hooker Furniture', 22)
                    +checkbox('Coaster Fine Furniture', 22)
                    +checkbox('Emerald Home', 22)
        +collapse("Комната", false).filter-mobile__item
            .filter-mobile__item-content
                .filter-mobile__checkboxes
                    +checkbox('Michael Amini', 22)
                    +checkbox('Ashley Home Store', 22)
                    +checkbox('Grand Manor', 22)
                    +checkbox('Hooker Furniture', 22)
                    +checkbox('Coaster Fine Furniture', 22)
                    +checkbox('Emerald Home', 22)
        +collapse("Цвет", false).filter-mobile__item
            .filter-mobile__item-content
                .filter-mobile__checkboxes
                     +checkbox('Michael Amini', 22)
                     +checkbox('Ashley Home Store', 22)
                     +checkbox('Grand Manor', 22)
                     +checkbox('Hooker Furniture', 22)
                     +checkbox('Coaster Fine Furniture', 22)
                     +checkbox('Emerald Home', 22)
        .filter-mobile__actions
            +button('Показать')
            +button('Сбросить', { variant: 'secondary' })