@use '@/styles/mixins' as *;

.filter-mobile {
  display: none;
  position: relative;

  @include tablet {
    display: flex;
  }

  &__button {

  }

  &__items {
    background-color: #fff;
    opacity: 0;
    transition: .2s ease-in-out;
    visibility: hidden;
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    border: 1px solid #6F6F6F;
    z-index: 1;
    min-width: 335px;

    & > * {
      padding: 20px;
    }

    &.open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__item {
    $item: &;

    position: relative;
    border-bottom: 1px solid #DFDFDF;

    &-header {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      user-select: none;
    }

    &-name {
      @include button;
    }

    &-btn {
      display: flex;
      align-items: center;
      transition: .2s ease-in-out;
      transform-origin: center;
      cursor: pointer;
    }

    &-content {
      padding-top: 30px;
    }

    &.open {
      #{$item}-btn {
        transform: rotate(180deg);
      }
    }
  }

  &__checkboxes {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
  }

  &__prices {
    display: flex;
    gap: 0 20px;
  }

  &__price {
    @include button;

    color: #6F6F6F;
    display: flex;
    align-items: center;
    gap: 0 10px;
  }

  &__actions {
    display: flex;
    gap: 0 20px;
  }
}