include ./components/button/button
include ./components/header/header
include ./components/header-mobile/header-mobile
include ./components/tabbar/tabbar
.main-page-wrapper
    include ./components/slider/slider
    include ./components/main-category/main-category
    include ./components/main-catalog/main-catalog
    include ./components/promotion/promotion
    include ./components/brands/brands
    include ./components/seo-text/seo-text
    include ./components/footer/footer