block variables

// Mixins
include ../components/button/button
include ../components/checkbox/checkbox
include ../components/collapse/collapse
include ../components/breadcrumbs/breadcrumbs
include ../components/input/input
include ../components/popover/popover
include ../components/select/select
include ../components/product-card/product-card


include ../components/header/header
include ../components/header-mobile/header-mobile
include ../components/tabbar/tabbar

main.main-page-wrapper
    block content

include ../components/footer/footer
block scripts