section.slider
    .swiper.slider__swiper
        .swiper-wrapper.slider__wrapper
            .swiper-slide.slider__slide
                .slider__image-container
                    img.slider__image(src="/images/slider-1.jpg" alt="Гостиная")
            .swiper-slide.slider__slide
                .slider__image-container
                    img.slider__image(src="/images/slider-1.jpg" alt="Спальня")
            .swiper-slide.slider__slide
                .slider__image-container
                    img.slider__image(src="/images/slider-1.jpg" alt="Столовая")
            .swiper-slide.slider__slide
                .slider__image-container
                    img.slider__image(src="/images/slider-1.jpg" alt="Кабинет")
            .swiper-slide.slider__slide
                .slider__image-container
                    img.slider__image(src="/images/slider-1.jpg" alt="Декор")
        
        // Навигационные стрелки
        .slider__nav
            .swiper-button-prev.slider__button-prev
            .swiper-button-next.slider__button-next
        
        // Пагинация
        .swiper-pagination.slider__pagination

